docker.enabled = false
conda.enabled = false
singularity.enabled = false
apptainer.enabled = false
process.executor = 'local'
process.cpus = 1
process.memory = '1 GB'
process.time = '10m'
params.m4_bwa_bin = 'bwa'
params.m4_polypolish_bin = 'polypolish'
params.m4_minimap2_bin = 'minimap2'
params.m4_samtools_bin = 'samtools'
params.m4_bcftools_bin = 'bcftools'
